*{
    font-family: 'Comic Sans MS';
    font-size: 18px;
    line-height: 1.5;
}

.main-container {
    width: 100%;
    height: 50%;
    display : flex;
    justify-content: space-around;
}

.first-container {
    background-image: url(img/side_background2.svg);
    width: 50%;
    text-align: center;
    position: relative;
    background-repeat: no-repeat;
    width: 720px;
    height: 900px;
}

.second-container {
    width: 50%;
    text-align: center;
    position: relative;
}

.logo {
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

.container-price {
    padding: 10px;
    background: rgba(255,255,255, 0.2);
    width: 60%;
    margin: 0 auto;
}

.price {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 70px;
    background: rgba(255,255,255, 0.5);
    margin: 20px;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 17px;
    margin-bottom: 0;
}

h3 {
    font-size: 15px;
}

.price p {
    font-size: 14px;
    margin-top: 0;
    display: inline;
    color: #999999;
}

.second-container p {
    font-size: 14px;
    margin-top: 1%;
    color: #999999;
}

.right-price h2 {
    padding-right: 10px;
    font-size: 14px;
}

.right-price h3 {
    padding-right: 10px;
    text-align: right;
}

.left-price {
    width: 200px;
}

.left-price h2 {
    padding-left: 10px;
    text-align: left;
}

.price-type2 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 180px;
    background: rgba(255,255,255, 0.5);
    margin: 20px;
    border-radius: 8px;
}

.price-type2 h2 {
    font-size: 22px;
    text-align: left;
}

.price-type2 h3 {
    text-align: left;
    padding-left: 10px;
}

.bottom-link{
    text-align: left;
    margin-left: 5%;
    font-weight: bolder;
    font-size: small;
}

.back-img{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    transform: rotate(270deg);
}

.second-container-form {
    text-align: center;
    margin-top: 12%;
}

.second-container-form h3{
    text-align: left;
    padding-left: 24%;
    padding-top: 1%;
}

button {
    background-color: #03A9F4;
    height: 50px;
    width: 53%;
    margin: 20px auto;
    border-radius: 8px;
    font-family: cursive;
    border: none;
    color: #f5f5f5;
    
}

.inputs {
    width: 52%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 0.6%;
    border-width: 0px;
}

select {
    width: 53%;
    border-radius: 5px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    padding: 0.6%;
    border-width: 0px;
}

.container-button {
    
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 53%;
    margin-left: 23%;
}

.input-top {
    border: none;
    padding: 10px;
    outline: none;
    background-image: url('img/visa-logo.png'), url('img/mastercard-logo.png'), url('img/maestro-logo.png'), url('img/paypal-logo.png');
    background-size: 30px 15px;
    background-repeat: no-repeat;
    background-position: right 5px center, right 37px center, right 70px center, right 105px center;
    padding-right: 90px;
    box-sizing: border-box;
}

.button-combine {
    display: flex;
    border-top: 1px solid #ccc;
    align-items: center;
}